
.App-header {
  background-color: floralwhite;
  min-height: 100vh;
 
  font-size: calc(10px + 2vmin);
  color: black;
}

.card {
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 10);
    margin: auto;
    text-align: center;
    margin-top:4%;
    margin-left:7%;
    margin-right:7%;

}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

    button:hover, a:hover {
        opacity: 0.7;
    }

.column {
    float: left;
    
    /* Should be removed. Only for demonstration */
}

.left {
    width: 45%;
    margin-left:5%;
    align-content:center;
    align-self:center
}

.right {
    width: 45%;
    margin-right:5%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}